<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:focusableInTouchMode="true">
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="match_parent"
        android:layout_height="?attr/actionBarSize"
        android:background="?attr/colorPrimary"
        app:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
        app:popupTheme="@style/MainTheme.PopupOverlay" />
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <android.support.v7.widget.CardView
            android:id="@+id/search_bar_card"
            android:background="#e9e9eb"
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
          <android.support.v7.widget.SearchView
            android:layout_marginTop="5dp"
            android:layout_marginBottom="5dp"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="10dp"
            android:layout_width="match_parent"
            android:layout_height="40dp"
            android:elevation="1dp"
            android:id="@+id/search_bar"
            android:background="#dde0e3"
            app:defaultQueryHint ="Search"
            app:queryHint="Search"
            app:iconifiedByDefault="false"
            android:focusedByDefault="false">

          </android.support.v7.widget.SearchView>
        </android.support.v7.widget.CardView>
      <FrameLayout  android:layout_alignParentBottom="true"
                    android:layout_below="@id/search_bar_card"
                    android:layout_centerHorizontal="true"
                    android:layout_marginTop="5dp"
                    android:layout_width="match_parent"
                    android:layout_height="0dp">
        <android.support.v7.widget.RecyclerView
          android:gravity ="center"
          android:layout_gravity="center"
          android:layout_width="match_parent"
          android:layout_height="match_parent" 
          android:id="@+id/recycler_view"/>
        <include
          android:visibility="gone"
          layout="@layout/progress_group"
          android:id="@+id/progress_group" />
      </FrameLayout>
       
    </RelativeLayout>
</LinearLayout>