<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical">

  <RelativeLayout
      android:layout_width="match_parent"
      android:layout_height="32dp"
      android:background="@color/subscription_card_bg">

    <View
        android:layout_width="1dp"
        android:layout_height="match_parent"
        android:layout_centerHorizontal="true"
        android:background="#81a1ca" />

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent">

      <TextView
          android:layout_width="0dp"
          android:layout_height="wrap_content"
          android:layout_gravity="center"
          android:gravity="center"
          android:layout_weight="1"
          android:text="@string/basic_title"
          android:textAlignment="center"
          android:textColor="@color/subscription_card_title"
          android:textSize="@dimen/subscription_card_title_text"/>

      <TextView
          android:layout_width="0dp"
          android:layout_height="wrap_content"
          android:layout_gravity="center"
          android:gravity="center"
        
        android:layout_weight="1"
          android:text="@string/advanced_title"
          android:textAlignment="center"
          android:textColor="@color/subscription_card_title"
          android:textSize="@dimen/subscription_card_title_text"/>
    </LinearLayout>

  </RelativeLayout>

  <LinearLayout
      android:layout_width="match_parent"
      android:layout_height="8dp">

    <ImageView
        android:layout_width="0dp"
        android:layout_height="match_parent"
        android:layout_gravity="center"
        android:layout_weight="1"
        android:src="@drawable/sort_down"
        android:textAlignment="center"
        android:textColor="#d3dce9" />

    <ImageView
        android:layout_width="0dp"
        android:layout_height="match_parent"
        android:layout_gravity="center"
        android:layout_weight="1"
        android:src="@drawable/sort_down"
        android:textAlignment="center"
        android:textColor="#d3dce9" />
  </LinearLayout>

</LinearLayout>
