<?xml version="1.0" encoding="utf-8"?>

<android.support.v7.widget.CardView
  xmlns:android="http://schemas.android.com/apk/res/android"
  android:layout_width="150dp"
  android:layout_height="120dp"
  android:foreground="?attr/selectableItemBackground">
  <LinearLayout
    android:background="#f2f2f2"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <RelativeLayout
      android:layout_width="match_parent"
      android:layout_height="0dp"
      android:layout_weight="1">
      <LinearLayout
        android:padding="10dp"
        android:layout_centerVertical="true"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content">
        <TextView
          android:id="@+id/title_tv"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:text="Job title"
          android:textStyle="bold" />
        <TextView
          android:id="@+id/sub_title_tv"
          android:layout_marginTop="5dp"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:text="Job title"
          android:textSize="10dp" />
      </LinearLayout>
    </RelativeLayout>
    <RelativeLayout
      android:background="#285ba5"
      android:layout_width="match_parent"
      android:layout_height="32dp">
      <TextView
        android:id="@+id/footer_tv"
        android:textStyle="bold"
        android:textSize="12sp"
        android:layout_centerVertical="true"
        android:layout_marginLeft="10dp"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textColor="#edeff1"
        android:text="Company year" />
    </RelativeLayout>
  </LinearLayout>
</android.support.v7.widget.CardView>